$breakpoint-tablet: 950px;
$breakpoint-mobile: 750px;

.about {
	background-color: #8b43ff;
	padding: 100px;
	padding-bottom: 225px;

	@media (max-width: $breakpoint-mobile) {
		padding: 50px;
		padding-bottom: 225px;
	}
	h3 {
		text-align: center;
		color: #ffffff;
		font-size: 50px;
		margin: auto;
		margin-bottom: 50px;
	}

	p {
		text-align: center;
		color: #ffffff;
		font-size: 20px;
		font-weight: 300;
		line-height: 1.5;
		margin: auto;
		max-width: 500px;
		width: 100%;

		@media (max-width: $breakpoint-mobile) {
			font-size: 16px;
		}
	}
}
